.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background: transparent;
  z-index: 100;
}

/* .navbar1-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b263b;
  z-index: -1;
  width: 100%;
  height: 100px;
} */
 
.navbar-logo {
  width: 60px;
  
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-buttons {
  display: flex;
  gap: 15px;
}

.navbar-button {
  color: white;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.navbar-button:hover {
  opacity: 1;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;

  margin-left: 20px;
}

.switch-title1 {
  color: white;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  opacity: 0.6;
}

.react-toggle {
  background-color: #183153; /* Green color when checked */
}

.react-toggle .react-toggle-track {
  background-color: #183153 !important; /* Track color when checked */
}

.react-toggle .react-toggle-thumb {
  background-color: white; /* Thumb color when checked */
}

.react-toggle--checked {
  background-color: #183153; /* Green color when checked */
}

.react-toggle--checked .react-toggle-track {
  background-color: #183153!important; /* Track color when checked */
}

.react-toggle--checked .react-toggle-thumb {
  background-color: white; /* Thumb color when checked */
}
