.modal {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #1b263b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    width: 70%;
  }
  
  .form_title {
    font-size: 20px;
    color: #a8dadc;
    text-align: center;
  }
  
  .form i {
    font-size: 95px;
    text-align: center;
    color: #a8dadc;
  }
  
  .input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input_label {
    font-size: 12px;
    color: #a8dadc;
    font-weight: 600;
  }
  
  .input_field {
    height: 35px;
    padding: 0 14px;
    border-radius: 5px;
    outline: none;
    background-color: #2a3b57;
    border: none;
    color: white;
    transition: all 0.3s;
  }
  
  .input_field:focus {
    border: 1px solid #a8dadc;
    box-shadow: 0px 0px 0px 2px #457b9d;
  }
  
  .textarea_field {
    resize: none;
    padding: 10px;
  }
  /* Searchable Dropdown */
.search_dropdown {
    position: relative;
  }
  
  .dropdown_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 92%;
    background-color: #2a3b57;
    border: 1px solid #a8dadc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
  }
  
  .dropdown_item {
    padding: 10px;
    cursor: pointer;
    color: white;
  }
  
  .dropdown_item:hover {
    background-color: #457b9d;
  }
  
  /* Selected Skills */
  .selected_skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .skill_button {
    background-color: #457b9d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .skill_button .remove_skill {
    font-size: 14px;
    cursor: pointer;
  }
  
  .skill_button:hover {
    background-color: #1d3557;
  }
  
  /* File Upload */
  .file_upload_label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #457b9d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .file_upload_input {
    display: none;
  }
  
  /* Submit Button */
  .submit_button {
    background-color: #457b9d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    font-size: large;
  }
  
  .submit_button:hover {
    background-color: #1d3557;
  }