.language-select {
    text-align: center;
    position: relative;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
  }
  
  .search-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #9ca3af;
    border-radius: 5px;
    background-color: #112240;
    color: white;
  }
  
  .search-input::placeholder {
    color: #9ca3af;
  }
  
  .languages-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 10%;
    width: 80%;
    background-color: #112240;
    border: 1px solid #1d4ed8;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 10;
  }
  
  .language-card {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    width: 95%;
  }
  
  .language-card:hover {
    background-color: #1d4ed8;
    color: white;
  }
  
  .language-card.selected {
    background-color: #2563eb;
    color: white;
    transform: scale(1.02);
  }
  
  h4 {
    font-size: 16px;
    margin: 0;
    color: white;
  }
  
  p {
    font-size: 14px;
    color: #9ca3af;
    margin: 0;
  }
  
  .no-results {
    text-align: center;
    color: #9ca3af;
    padding: 10px;
  }
  
  .selected-language {
    margin-top: 20px;
    background-color: #1e293b;
    padding: 15px;
    border-radius: 5px;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .selected-language h4 {
    margin: 0;
    font-size: 16px;
    color: #22d3ee;
  }
  
  .selected-language p {
    font-size: 14px;
  }
  